<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment.html :: head">
</head>

<body>

  <div class="container">
    <h3 style="text-align:center; padding-top:100px;">cos247-rnd-issue-board</h3>
    <br>
    <br>
    <a th:href="@{/board/write_view}" style="position: fixed; top: 170px; right: 100px;">글 작성</a>
    <table class="table" style="text-align:center;">
      <thead>
        <tr>
          <th class="col-sm-1">번호</th>
          <th class="col-sm-2">이름</th>
          <th class="col-sm-3">제목</th>
          <th class="col-sm-4">내용</th>
          <th class="col-sm-3">작성시간</th>
        </tr>
      </thead>
      <tr th:each="boardlist : ${list}">
        <th th:text="${boardlist.board_id}"></th>
        <th th:text="${boardlist.bname}"></th>
        <th>
          <a th:text="${boardlist.btitle}" th:href="@{'/board/content_view/' + ${boardlist.board_id}}"></a>
          <input id="board_id" type="hidden" th:value="${boardlist.board_id}" />
        </th>
        <th th:text="${boardlist.bcontent}"></th>
        <th th:text="${#temporals.format(boardlist.bdate, 'yyyy-MM-dd HH:mm')}"></th>
      </tr>
    </table>
  </div>
</body>

</html>